* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.header {
    background-color: rgb(26, 3, 48);
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.header-left {
     max-height: 50px;
}

.header-logo {
    height: 50px;
}

.header-middle {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 70vw;
    justify-content: center;
}

.header-searchbox {
    height: 40px;
    width: 100%;
    max-width: 700px;
    border: none;
    border-radius: 5px;
}

.header-search-button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
}

.header-search-icon {
    width: 30px;
    height: 30px;
}

.header-right {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 200px;
}

.headerright-cart-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    width: 30px;
    height: 30px;
    color: white;
}

.header-cart-count {
    color: white;
}

.headerright-orders {
    color: white;
}

.dev-container {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin: 5px 0;
}